@use '../layout/variables' as vars;

.program-page-container {
  max-width: 1200px; /* Adjust this value to make the container narrower */
  padding-left: 15px; /* Adjust left padding */
  padding-right: 15px; /* Adjust right padding */
  margin: 0 auto; /* Center the container */
}

.tombstone {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: .15rem;
  background-color: vars.$lemon;
  color: vars.$blue;
  // padding: .75rem;
  p {
    border-radius: vars.$border-radius;
    padding: .25rem 1.5rem;
    border: solid vars.$blue 1px;
    margin-bottom: 0;
  }
}

/* Tab styles */
.custom-tabs .nav-link {
  background-color: vars.$blue; /* Default background */
  color: vars.$lemon; /* Default text color */
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

.custom-tabs .nav-link.active {
  background-color: vars.$lemon; /* Active background */
  color: vars.$blue; /* Active text color */
  border: 1px solid vars.$blue; /* Add a border to active tabs for clarity */
  border-bottom: none; /* Seamless integration with content */
}

.custom-tabs .nav-link:hover {
  filter: brightness(1.2);
}

/* Container spacing */
.program-details-container {
  padding: 20px;
  border-radius: 0 0 5px 5px;
  background-color: #fff;
  max-width: 1200px;
  margin: 0 auto; /* Centers the content */
}

#program-details-tabs {
  border-bottom: 2px solid #ccc; /* Adjust border as needed */
}


.custom-tabs {
  max-width: 800px; /* Optional: Set a max width */
  margin: 0 auto; /* Centers the tabs block */
}
