.filters {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: .5rem;
  input {
    margin: 0 1rem;
  }
}

.switch-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Style for the Yes/No text */
.availability-text {
  font-weight: bold;
  font-size: 1rem;
}

.text-yes {
  color: #C5D86D;
}

.text-no {
  color: #E71D36;
}

/* Custom switch colors */
.custom-switch .form-check-input {
  width: 40px;
  height: 20px;
  background-color: #E71D36;
  border-radius: 10px;
  position: relative;
  transition: background-color 0.3s ease;
}

.custom-switch.switch-yes .form-check-input {
  background-color: green;
}

.custom-switch .form-check-input::before {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.custom-switch.switch-yes .form-check-input::before {
  transform: translateX(20px);
}

.pod-body, .sc-body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: .5rem;
}

.pcd-dates, .pcd-delivery-comments, .pcd-pricing-info-toc, 
.pcd-current-pricing , .pcd-special-conditions, .pcd-miscellaneous, .pc-socials,
.pc-simple-contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 1rem 0;
  border-bottom: solid $lemon 2px;
  label {
    width: 15vw;
  }
  .form-check {
    width: 45%;
    margin: auto;
    padding: .5rem 0;
  }
  input {
    padding: .15rem;
    border-radius: $border-radius;
  }
  .row {
    width: 100vw;
  }
}

.pc-socials, .pc-simple-contact {
  margin: 0 1rem;
}

.pcd-delivery-comments label, .pcd-pricing-info-toc label, .pcd-current-pricing label {
  width: 100%; /* Ensure labels take full width */
}

.pcd-current-pricing input {
  width: 100%; /* Ensure inputs take full width */
  padding: 0.15rem;
  border-radius: 4px; /* Ensure $border-radius is defined or replace with a valid value */
}

.pcd-pricing-info-toc .row, .pcd-current-pricing .row {
  width: 100%; /* Ensure rows take full width */
}

.pcd-pricing-info-toc .single-row-form input, .pcd-current-pricing .single-row-form input {
  width: 85%; /* Adjust input width within single-row-form */
  margin: auto;
}

.checkbox-grid {
  margin-left: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  gap: .5rem; /* Space between checkboxes */
}




