@use '../layout/variables' as vars;

body {
  font-family: vars.$body-font;
}

.huh {
  color: vars.$red;
  font-weight: bolder;
  margin: 2rem 0;
  text-align: center;
}

.gtg {
  color: vars.$green;
}

.waiting {
  color: vars.$green;
}

// FOR ACCESSIBILITY
.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background: #000;
  color: vars.$orange;
  padding: 8px;
  z-index: 100;

  &:focus {
    top: 0;
  } 
} 

h1,h2,h3,h4,h5,h6 {
  font-family: vars.$header-font;
  color: vars.$blue;
}

h6 {
  margin-left: 3rem;
}

.filtered-container {
  max-height: 299px;
  overflow-y: scroll;
}

