.filter-row {
  display: flexbox;
  grid-template-columns: 1fr 1fr 1fr;
  border: solid 1px black;
  border-radius: $border-radius;
  margin-bottom: 2rem;
  label {
    margin: 2rem;
  }
}

.tombstone {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: .5rem;
  background-color: $lemon;
  color: $blue;
  border-radius: $border-radius;
  padding: 2rem;
}

/* Tab styles */
.custom-tabs .nav-link {
  background-color: $blue; /* Default background */
  color: $lemon; /* Default text color */
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

.custom-tabs .nav-link.active {
  background-color: $lemon; /* Active background */
  color: $blue; /* Active text color */
  border: 1px solid $blue; /* Add a border to active tabs for clarity */
  border-bottom: none; /* Seamless integration with content */
}

.custom-tabs .nav-link:hover {
  filter: brightness(1.2);
}

/* Container spacing */
.program-details-container {
  padding: 20px;
  border-radius: 0 0 5px 5px;
  background-color: #fff;
  max-width: 1200px;
  margin: 0 auto; /* Centers the content */
}

#program-details-tabs {
  border-bottom: 2px solid #ccc; /* Adjust border as needed */
}


.custom-tabs {
  max-width: 800px; /* Optional: Set a max width */
  margin: 0 auto; /* Centers the tabs block */
}
