.gtg {
  color: green;
}

.waiting {
  color: yellowgreen;
}

// FOR ACCESSIBILITY
.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background: #000;
  color: blue;
  padding: 8px;
  z-index: 100;

  &:focus {
    top: 0;
  } 
} 

.filtered-container {
  max-height: 299px;
  overflow-y: scroll;
}

// * {
//   border: solid 1px black;
// }